<p [appFontSize]="30" *appRepetir="8">
  Hola Mundo
</p>

<form [formGroup]="formularioRegistro">
  <mat-form-field appearance="outline">
    <!-- <mat-icon matPrefix>sentiment_very_satisfied</mat-icon> -->

    <mat-label>Nombre</mat-label>

    <input
      [formControl]="nombreControl"
      matInput
      placeholder="Nombre"
    >

    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>


    <mat-hint>El nombre de tener como minimo 6 caracteres</mat-hint>

    <!-- SOLO SE VA A HACER VISIBLE CUANDO EL INPUT
      DEL FORMFIELD HA SIDO TOCADO Y SEA INVALIDO -->
    <mat-error *ngFor="let error of nombreControl.errors | keyvalue">
      {{ error | controlErrorMessages }}
    </mat-error>

  </mat-form-field>



  <mat-form-field appearance="outline">

    <mat-label>Email</mat-label>

    <input
      [formControl]="emailControl"
      matInput
      placeholder="email"
    >

    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

    <!-- SOLO SE VA A HACER VISIBLE CUANDO EL INPUT
      DEL FORMFIELD HA SIDO TOCADO Y SEA INVALIDO -->
    <mat-error *ngFor="let error of emailControl.errors | keyvalue">
      {{ error | controlErrorMessages }}
    </mat-error>
  </mat-form-field>
</form>

