<mat-drawer-container class="example-container" autosize>

  <!-- SIDEBAR -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <!-- MI WRAPPER  -->
  <div class="example-sidenav-content">
    <!-- TOOLBAR  -->
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App | Es produccion? {{ isProd }} </span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <!-- MIS PAGINAS -->
    <main>


      <!-- <app-cards></app-cards> -->

      <!-- <app-buttons-and-icons></app-buttons-and-icons> -->

      <!-- <app-formularios></app-formularios> -->

      <!-- <app-dialogs></app-dialogs> -->

      <app-tablas></app-tablas>
    </main>
  </div>
</mat-drawer-container>
