<!-- En bootstrap es row -->
<div class="grid">
  <div class="col-4">
    <mat-card>
      <!-- HEADER -->
      <mat-card-header>
        <mat-card-title>
          Titulo
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <!-- CONTENIDO -->
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, nisi similique quos corporis quas cupiditate? Repellat libero dolorum nihil quaerat eius doloribus iusto reprehenderit aut quasi, sit vel deleniti repudiandae.
        </p>
      </mat-card-content>
      <!-- ACCIONES -->
      <mat-card-actions>
        <button>Cancelar</button>
        <button>Confimar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <!-- HEADER -->
      <mat-card-header>
        <mat-card-title>
          Titulo
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <!-- CONTENIDO -->
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, nisi similique quos corporis quas cupiditate? Repellat libero dolorum nihil quaerat eius doloribus iusto reprehenderit aut quasi, sit vel deleniti repudiandae.
        </p>
      </mat-card-content>
      <!-- ACCIONES -->
      <mat-card-actions>
        <button>Cancelar</button>
        <button>Confimar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
